/* $Id: navigation.css,v 1.3 2009/08/12 22:17:26 johnalbin Exp $ */

/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navbar {
  z-index: 10;
}

#navbar-inner {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}

#block-nice_menus-1 {
	font-family: "Arial Narrow",Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  background: transparent;
  color: black;
  height: 30px;
  float:right;
}

#block-nice_menus-1 ul {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

#block-nice_menus-1 li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: white;
  border: 0;
}

.lang-fr #menu li { 
  padding-right: 13px;
}

#block-nice_menus-1 li a {
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding:5px 15px 0;
  height: 25px;
}

#block-nice_menus-1 li li a {
  height: auto;
  padding: 4px 15px;
  color: black;
}

#block-nice_menus-1 li a.active {
  color: #79BB69;
 /*  background: #64102f; */
    background: white;
 /*  background: url('../images/menu_primary_active_bk.png') repeat-x; */
}

ul#nice-menu-1 li a:hover {
  color: #79BB69;
}

#block-nice_menus-1 li a.active:hover {
	color:white;
}

#block-nice_menus-1 li.special {
  color: #ebf463;
}

#block-nice_menus-1 li li li,
#block-nice_menus-1 li li li li {
	display:none;
}


/***
  * Nice Menu Overrides
*/


ul.nice-menu ul {
	border-bottom: 4px solid #64102f;
}

ul.nice-menu ul li {
  width: 12em;
}

ul.nice-menu ul li a {
  font-size: .95em;
  background: #eFefeF;
}

#block-nice_menus-1 li li a.active {
	color: black;
  background: #eFefeF none;
}

#block-nice_menus-1 li li a.active:hover {
  color: #79BB69;
}
	
ul.nice-menu ul, #header-region ul.nice-menu ul {
  top: 30px;
}

/*
 * Secondary Navigation Menus
 */
 

#block-nice_menus-2  {
  font-family: "Arial Narrow",Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  background: transparent;
  color: black;
  height: 24px;
  float:right;
  position: absolute;
  top: -96px;
  right: 0;
}

#block-nice_menus-2  ul li {
	list-style-type: none;
	list-style-image: none;
	padding: 0 8px;
}

#block-nice_menus-2  ul li.last {
  padding-right: 20px;
}

#block-nice_menus-2  ul li li,
#block-nice_menus-2  ul li li li {
  display: none;
}



/* 
 * Special Nav Buttons
 */
 
#block-block-97 {
  position: absolute;
  top: -54px;
  right: 0;
}

#block-block-97 .content ul {
  margin: 10px 20px 0 0;
}

#block-block-97 li {
  padding: 0;
  margin: 0 0 0 6px; 
  float:left;
  display: inline;
}
