/* $Id: nodes.css,v 1.6 2009/11/02 15:37:29 johnalbin Exp $ */

/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* Historical Styles */
#main .post {
 /*  margin: 0px -10px;  Get involved issue */
margin: 17px -28px;
}

#main .node-192 /* "Go Green Bus */ {
  padding: 0px 0px 0px 0px;
  margin: -75px 5px -10px 5px;
}


.post .content {
  padding: 0 15px;
  margin: -20px 15px 15px 10px;
  border: 1px solid #EBEBEB;
  background: #f8f8f8;
}  

.post .postmeta {
  padding: 5px;
  margin: 20px 15px 15px 10px;
  border: 1px solid #EBEBEB;
  background: #f8f8f8;
}

.post-info {
  font-size: .95em;
  padding-top: 3px;
  color: #B0B0B0;
  margin: 10px 15px;
}
.post-info a, .post-info a:visited {
  color: #000;
  border: none;
}

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.node h2.title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
  padding: 5px;
  margin: 20px 15px 15px 10px;
}

#front_pic /* "Go Green Bus */ {
  padding: 0px 0px 0px 0px;
  margin: -75px 5px -10px 5px;
}


div.candidate-summary {
  float: left;
  width: 60%;
  padding: 2px 4px 4px 2px;
 /*  border-right: 1px dashed #666; */
  }
  
div.candidate-details {
  width: 40%
  padding: 6px 4px 4px 20px;
  float: left;
  }
  
div.candidate-summary h5,
div.candidate-details h5 {
  }





.node .submitted /* The "posted by" information */ {
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}